<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list</key>
	<dict>
		<key>item 0</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>0</integer>
			<key>color</key>
			<string>#a5d6a7</string>
		</dict>
		<key>item 1</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>1</integer>
			<key>color</key>
			<string>#c5e1a5</string>
		</dict>
		<key>item 2</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>2</integer>
			<key>color</key>
			<string>#e6ee9c</string>
		</dict>
		<key>item 3</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>3</integer>
			<key>color</key>
			<string>#fff59d</string>
		</dict>
		<key>item 4</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>4</integer>
			<key>color</key>
			<string>#ffe082</string>
		</dict>
		<key>item 5</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>5</integer>
			<key>color</key>
			<string>#ffcc80</string>
		</dict>
		<key>item 6</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>6</integer>
			<key>color</key>
			<string>#ffab91</string>
		</dict>
		<key>item 7</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>7</integer>
			<key>color</key>
			<string>#bcaaa4</string>
		</dict>
		<key>item 8</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>8</integer>
			<key>color</key>
			<string>#b0bec5</string>
		</dict>
		<key>item 9</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>9</integer>
			<key>color</key>
			<string></string>
		</dict>
		<key>item 10</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>10</integer>
			<key>color</key>
			<string></string>
		</dict>
		<key>item 11</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>11</integer>
			<key>color</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
