<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bed</key>
	<dict>
		<key>item 0</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>0</integer>
			<key>color</key>
			<string>#a5d6a7</string>
		</dict>
		<key>item 1</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>1</integer>
			<key>color</key>
			<string>#c5e1a5</string>
		</dict>
		<key>item 2</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>2</integer>
			<key>color</key>
			<string>#e6ee9c</string>
		</dict>
	</dict>
	<key>work</key>
	<dict>
		<key>item 0</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>0</integer>
			<key>color</key>
			<string>#a5d6a7</string>
		</dict>
		<key>item 1</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>1</integer>
			<key>color</key>
			<string>#c5e1a5</string>
		</dict>
		<key>item 2</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>2</integer>
			<key>color</key>
			<string>#e6ee9c</string>
		</dict>
	</dict>
	<key>storage</key>
	<dict>
		<key>item 0</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>0</integer>
			<key>color</key>
			<string>#a5d6a7</string>
		</dict>
		<key>item 1</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>1</integer>
			<key>color</key>
			<string>#c5e1a5</string>
		</dict>
		<key>item 2</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>2</integer>
			<key>color</key>
			<string>#e6ee9c</string>
		</dict>
	</dict>
	<key>study</key>
	<dict>
		<key>item 0</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>0</integer>
			<key>color</key>
			<string>#a5d6a7</string>
		</dict>
		<key>item 1</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>1</integer>
			<key>color</key>
			<string>#c5e1a5</string>
		</dict>
		<key>item 2</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>2</integer>
			<key>color</key>
			<string>#e6ee9c</string>
		</dict>
	</dict>
	<key>custom</key>
	<dict>
		<key>item 0</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>0</integer>
			<key>color</key>
			<string>#a5d6a7</string>
		</dict>
		<key>item 1</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>1</integer>
			<key>color</key>
			<string>#c5e1a5</string>
		</dict>
		<key>item 2</key>
		<dict>
			<key>locationID</key>
			<integer>0</integer>
			<key>iconName</key>
			<string></string>
			<key>builtin</key>
			<true/>
			<key>name</key>
			<string></string>
			<key>index</key>
			<integer>2</integer>
			<key>color</key>
			<string>#e6ee9c</string>
		</dict>
	</dict>
</dict>
</plist>
